#include <windows.h>
#include "resource.h"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,0,6,0
PRODUCTVERSION  0,0,6,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "KeyMagic"
            VALUE "FileDescription",  "KeyMagic Text Service"
            VALUE "FileVersion",      "0.0.6.0"
            VALUE "InternalName",     "KeyMagicTSF"
            VALUE "LegalCopyright",   "Copyright (C) 2024"
            VALUE "OriginalFilename", "KeyMagicTSF.dll"
            VALUE "ProductName",      "KeyMagic Input Method"
            VALUE "ProductVersion",   "0.0.6.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END

// Icon Resources
IDI_KEYMAGIC       ICON    "..\\..\\resources\\icons\\keymagic.ico"
